
.light-container {
   height: 30;
   position: relative;
}

.light-label-container {
   width: 20%;
}

.light-color-container {
   position: absolute;
   right: 110px;
   margin-top: -5px;
   top: 0px;
}

.light-power-container {
   position: absolute;
   margin-top: -5px;
   right: 0;
   top: 0px;
}

.light-brightness-container {
   width: 300px;
   margin-right: -15px;
   position: absolute;
   right: 0;
   bottom: ;
}



